.jumbotron.text-center
	%h1
		%ruby
			%rb	cirrocumulus
			%rp (
			%rt シロカマラス
			%rp )
	%form.form-inline{method:'GET',action:'/'}
		%div.form-group
		%label.control-label 検索語
		%input.form-control{type:'text',name:'query'}
		%div.form-group
		%button.btn.btn-default Go
